p {
  margin: 0px;
}
h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
h3 {
  margin: 0px;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: rgb(240, 243, 189);
  font-family: Oswald, "Open Sans", Arial, sans-serif;
  font-size: 12pt;
  margin: 0px;
}
.gwd-div-lm07 {
  color: black;
  padding: 0.5em 3em;
  align-items: center;
  display: flex;
  height: 80px;
  position: absolute;
  background-image: none;
  background-color: rgb(5, 102, 141);
  border-image-source: none;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-color: transparent;
  width: 100%;
  top: 0px;
  left: 0px;
}
.gwd-img-fa6j {
  position: absolute;
  height: 18%;
  width: 113.45px;
  top: -9px;
  left: 12px;
}
.gwd-p-gv4z {
  position: absolute;
  width: 178px;
  height: 48px;
  font-family: Oswald;
  font-size: 25px;
  margin: 4px;
  left: 154px;
  top: 20px;
  text-decoration: underline;
}
.gwd-p-5vs1 {
  transform-origin: 50% 50% 0px;
  width: 268px;
  left: 620px;
}
.gwd-p-1qhn {
  width: 222px;
  transform-origin: 50% 50% 0px;
  top: 20px;
  left: 365px;
}
.destacado {
  width: 222px;
  transform-origin: 50% 50% 0px;
  top: 20px;
  left: 910px;
}
header nav#menu-superior {
  position: absolute;
  right: 0px;
  top: 3em;
  margin-right: 2em;
}
ul {
  list-style: none;
}
nav#menu-superior ul li {
  display: inline;
  float: left;
}
nav#menu-superior ul li a {
  padding: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.gwd-li-2971 {
  left: 104px;
  top: 16px;
}
.gwd-li-1xiy {
  left: 136px;
  top: 16px;
}

.form {
  background-color: rgb(240, 243, 189);
  font-family: Oswald, "Open Sans", Arial, sans-serif;
  font-size: 12pt;
  font-family: Oswald;
  margin: 4px;
  left: 154px;
  top: 20%;
  width: 25%;
  height: 100px;
  position: absolute;
}
/* 
#formCOVID{
  visibility:hidden;
} */

#tablaCOVID{
  display: table;
}

#tablaPeriódica{
  display: none;
}

#tablaOtra{
  display: none;
}

#contenedor { 
  margin: 0 auto; 
  width: 80%; 
  padding: 0 1em;
}

* {
  box-sizing: border-box;
}

.contenedor {
  padding: 5em;
}
.contenedor::after {
  clear: both;
  content: "";
  display: table;
}
