p {
  margin: 0px;
}
h1 {
  margin: 0px;
  color: #05668D;
}
h2 {
  margin: 0px;
  color: #05668D;
}
h3 {
  margin: 0px;
  color: #05668D;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  background-color: rgb(240, 243, 189);
  font-family: Oswald, "Open Sans", Arial, sans-serif;
  font-size: 12pt;
  margin: 0px;
}
.gwd-div-lm07 {
  color: black;
  padding: 0.5em 3em;
  align-items: center;
  display: flex;
  height: 120px;
  position: absolute;
  background-image: none;
  background-color: rgb(5, 102, 141);
  border-image-source: none;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-color: transparent;
  width: 100%;
  top: 0px;
  left: 0px;
}
.gwd-img-fa6j {
  position: absolute;
  height: 18%;
  width: 113.45px;
  top: -9px;
  left: 20px;
}
.gwd-p-gv4z {
  position: absolute;
  width: 110px;
  height: 38px;
  font-family: Oswald;
  font-size: 20px;
  margin: 4px;
  right:470px;
  top: 30px;
  text-decoration: none;
}

.gwd-p-1qhn {
  width: 150px;
  right: 300px;
}

.gwd-p-5vs1 {
  width: 165px;
  right: 120px;
}
.salir{
  transform-origin: 50% 50% 0px;
  width: 80px;
  right: 20px;
}

.area{
  position: absolute;
  height: 20em;
  width: 30%;
  top: 0px;
  left: 140px;
  color: white;
  font-size: 25px;
}

.destacado {
  width: 222px;
  transform-origin: 50% 50% 0px;
  top: 20px;
  left: 910px;
}
header nav#menu-superior {
  position: absolute;
  right: 0px;
  top: 3em;
  margin-right: 2em;
}

nav#menu-superior ul li {
  display: inline-block;
  background-color:#02C39A;
  color:rgb(240, 243, 189);
}

nav#menu-superior ul li:hover {
  display: inline;
  float: left;
  background-color:rgb(240, 243, 189);
}

nav#menu-superior ul li a {
  padding: 1em;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav#menu-superior ul li a:hover {
  padding: 1em;
  color:#02C39A;
  text-decoration: underline;

}
#respuesta{
  background-color: #028090;
  color: white;
}
#archivo{
  background-color: rgb(240, 243, 189);
}

#tituloHacerConsulta{
  margin: 4px;
  left: 150px;
  top: 20px;
  width: 800px;
  height: 100px;
  position: absolute;
  text-align: left;
  font-size: 25px;
}

#seleccionarConsulta{
  margin: 4px;
  left: 150px;
  top: 170px;
  width: 800px;
  height: 100px;
  position: absolute;
  text-align: center;
}

#pintarFormularios{
  margin: 4px;
  left: -5px;
  top: 120px;
  width: 800px;
  height: 100px;
  position: absolute;
  text-align: left;
  
}

#tablaSeleccionarConsulta{
  display: table;
  width: 100%;
  text-align: center;
  caption-side: top;
  background-color: #028090;
  border-collapse: collapse;
  color: white;
  font-size: 20px;
}
.selectorTipoForm{
  background-color: white;
  color:rgb(5, 102, 141);
  font-size: 18px;
  font-weight: bold;
}

#filaVacia{
  background-color: rgb(240, 243, 189);
  
}
.tituloForm{
  color:rgb(5, 102, 141);
  font-weight: bold;
  font-family: Oswald, "Open Sans", Arial, sans-serif;
  font-size: 20pt;

}
.form {
  background-color: rgb(240, 243, 189);
  font-family: Oswald, "Open Sans", Arial, sans-serif;
  font-size: 12pt;
  font-family: Oswald;
  margin: 4px;
  left: 10px;
  top: 20%;
  width: 100px;
  height: 100px;
  position: absolute;
  text-align: left;
}
/* 
#formCOVID{
  visibility:hidden;
} */

#tablaCOVID{
  display: table;
  background-color: white;
}

#tablaPeriódica{
  display: none;
  background-color: white;
}

#tablaOtra{
  display: none;
  background-color: white;
}
.botonForm{
  background-color: #028090;
  color: white;
  font-weight: bold;
  font-size:15px;
}

#contenedor { 
  margin: 0 auto; 
  width: 80%; 
  padding: 0 1em;
}

* {
  box-sizing: border-box;
}

.contenedor {
  padding: 7em;
}
.contenedor::after {
  clear: both;
  content: "";
  display: table;
}


#tituloPerfilPaciente{
  margin: 4px;
  left: 115px;
  top: 140px;
  width: 800px;
  height: 100px;
  position: absolute;
  text-align: left;
  font-size: 20px;
}
.divTablaPerfilPac{
  margin: 4px;
  left: 115px;
  top: 240px;
  width: 1000px;
  height: 100px;
  position: absolute;
  text-align: left;
  font-size: 25px;
}

.tablaPerfil td {
  padding: 10px;
  border-bottom: transparent;
  width: 400px;
  text-decoration: none;
  text-align: center;
  background-color: white;
}

.tablaPerfil th{
  background-color: #028090;
  color: white;
  width: 400px;
}

.tablaPerfil a{
  color:black;
  text-decoration: none;
}

#tituloPerfilConsultaPac{
  margin: 4px;
  left: 115px;
  top: 150px;
  width: 800px;
  height: 100px;
  position: absolute;
  text-align: left;
  font-size: 20px;
}
.divTablaPerfilConsulta{
  margin: 4px;
  left: 115px;
  top: 240px;
  width: 1000px;
  height: 100px;
  position: absolute;
  text-align: left;
  font-size: 25px;
}

.perfilConsulta td {
  padding: 10px;
  border-bottom: transparent;
  width: 400px;
  text-decoration: none;
  text-align: center;
  background-color: white;
}

.perfilConsulta th{
  background-color: #028090;
  color: white;
  width: 400px;
}

.perfilConsulta a{
  color:black;
  text-decoration: none;
}



.Listado_consultas_paciente {
  margin: 20px;
  left: 75px;
  top: 20%;
  width: 90%;
  height: 100px;
  position: absolute;

}
.Listado_consultas_paciente div {
  top: 5em;
  width: 100%;
  height: 10px;
  position: absolute;
  text-decoration: none;

}
.tablaListadoConsultasPaciente {
  width: 90%;
  text-align: left;
  caption-side: top;
  background-color: white;
  border-collapse: collapse;
}
.tablaListadoConsultasPaciente caption, td, th {
  padding: 0.3em;

}
.tablaListadoConsultasPaciente th, td {
  padding: 10px;
  border-bottom: 10px solid rgb(240, 243, 189);
  width: 25%;
  text-decoration: none;
}
.tablaListadoConsultasPaciente a{
  text-decoration: none;
  color:black;
}

.tablaListadoConsultasPaciente th{
  background-color: #028090;
  color: white;
}
.tablaListadoConsultasPaciente tr:hover{
  color:white;
  background-color:#02C39A;
  
}
.tablaListadoConsultasPaciente a:hover{
  color: white;
  text-decoration: underline;
  background-color:#02C39A;
}